/*MDL goes here*/

.mdl-grid{
  .content-grid{
    max-width: 960px;
  }
  .mdl-data-table th{
    text-align: center;
    white-space: normal;
  }
  .full-width {
    margin: 0 auto;
  }
  .tags{
    height: 20px;
    line-height: 20px;
    margin: 0;
  }
}



